<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="TokaWebApiWriter" 
        xsi:type="File"        
        fileName="${basedir}/logs/TokaWebApi.log"
        layout="${longdate} - ${level} - ${callsite} - ${message}"
        archiveFileName="${basedir}/logs/{###}.TokaWebApi.log"
        archiveAboveSize="102400"
        maxArchiveFiles="7"
        archiveNumbering="Sequence"
        concurrentWrites="true"
        keepFileOpen="false"
        encoding="iso-8859-2" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="TokaWebApiWriter" />
  </rules>
</nlog>